.loginButton {
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.loginButton:hover {
    background-color: #eaeaee;
}

.loginButton a {
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    display: block;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.userMenu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userAvatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.userName {
    font-size: 1rem;
    color: #333;
}