.section {
    flex: 15%;
}

.section .heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section .links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section .links li {
    margin-bottom: 8px;
    border-radius: 10px;
    border: none;
}

.section .links li:hover {
    background-color: #eaeaee;
}

.section .links a {
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    display: block;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}